@media(max-width: 600px) {

    body {
        justify-content: center;
    }

    main {
        flex-direction: column;
        width: 380px;
    }

    .perfume-desktop {
        display: none;
    }

    section h1 {
        font-size: 35px;
    }

    section .conteudo {
        font-size: 16px;
    }

    section .preco .forte {
        font-size: 35px;
    }

    section a {
        margin: 0 auto 25px auto;
        padding: 15px 0;
        width: 80%;
    }

}

@media(min-width: 600px) {

    .perfume-mobile {
        display: none;
    }
}